<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    使用mapper接口形式
    namespace：mapper接口路径
 -->
<mapper namespace="com.bbs.post.mapper.PostMapper">
     <resultMap type="com.bbs.post.model.DO.PostDO" id="post">
        <id     property="postId"     column="POST_ID"     javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="postTitle"  column="POST_TITLE"  javaType="string"            jdbcType="VARCHAR" />
        <result property="plateId"    column="PLATE_ID"    javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="replyCount" column="REPLY_COUNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result property="lastBy"     column="LAST_BY"     javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="lastDate"   column="LAST_DATE"   javaType="java.util.Date"    jdbcType="TIME" />
        <result property="keyword"    column="KEYWORD"     javaType="string"            jdbcType="VARCHAR" />
        
        <result property="createBy"   column="CREATE_BY"   javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="createDate" column="CREATE_DATE" javaType="java.util.Date"    jdbcType="TIME" />
        <result property="updateBy"   column="UPDATE_BY"   javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="updateDate" column="UPDATE_DATE" javaType="java.util.Date"    jdbcType="TIME" />
        <result property="deleteFlag" column="DELETE_FLAG" javaType="java.lang.Integer" jdbcType="INTEGER" />
        
        <!-- 
                            嵌套映射
                   property：属性名称
                   column  ：数据库字段名称
                   javaType：属性类型
                   select  ：以指定的查询方式获取实例对象                  
        -->
        <association property="postContent" column="POST_CONTENT_ID" javaType="com.bbs.post.model.DO.PostContentDO"
            select="com.bbs.post.mapper.PostContentMapper.findPostContentById" />
     </resultMap>
     
    <select id="findPostListByPlateId" resultMap="post">
        select * from T_BBS_POST where PLATE_ID = #{plateId}
        <if test="index !=0 or num!=0">
            limit #{index}, #{num}
        </if>
    </select>
    
    <insert id="addPost" parameterType="com.bbs.post.model.DO.PostDO" keyProperty="postId" useGeneratedKeys="true" >
        insert into T_BBS_POST(POST_ID, POST_TITLE, PLATE_ID, REPLY_COUNT, LAST_BY, LAST_DATE, KEYWORD, POST_CONTENT_ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DELETE_FLAG)
        values(#{postId}, #{postTitle}, #{plateId}, #{replyCount}, #{lastBy}, #{lastDate}, #{keyword}, #{postContent.postContentId}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{deleteFlag})
    </insert>
    
    <update id="updatePost" parameterType="com.bbs.post.model.DO.PostDO">
        update T_BBS_POST post 
           set post.POST_TITLE = #{postTitle}, post.KEYWORD        = #{keyword},  
               post.UPDATE_BY  = #{updateBy},  post.UPDATE_DATE    = #{updateDate}
         where post.POST_ID    = #{postId}
    </update>
    
    <update id="updatePostLastReply">
        update T_BBS_POST post 
           set post.REPLY_COUNT = #{replyCount}, post.LAST_BY   = #{lastBy},  
               post.LAST_DATE   = #{lastDate},   post.UPDATE_BY = #{updateBy},   
               post.UPDATE_DATE = #{updateDate}
         where post.POST_ID     = #{postId}
    </update>
    
    <delete id="deletePost" parameterType="java.lang.Long">
        update T_BBS_POST post 
           set post.DELETE_FLAG = -1
         where post.POST_ID = #{id}
    </delete>
</mapper>