<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    使用mapper接口形式
    namespace：mapper接口路径
 -->
<mapper namespace="com.bbs.post.mapper.PostContentMapper">

     <resultMap type="com.bbs.post.model.DO.PostContentDO" id="postContent">
        <id     property="postContentId" column="POST_CONTENT_ID" javaType="java.lang.Long" jdbcType="INTEGER" />
        <result property="postContent"   column="POST_CONTENT"    javaType="string"            jdbcType="VARCHAR" />
        <result property="createBy"      column="CREATE_BY"       javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="createDate"    column="CREATE_DATE"     javaType="java.util.Date"    jdbcType="TIME" />
        <result property="updateBy"      column="UPDATE_BY"       javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="updateDate"    column="UPDATE_DATE"     javaType="java.util.Date"    jdbcType="TIME" />
        <result property="deleteFlag"    column="DELETE_FLAG"     javaType="java.lang.Integer" jdbcType="INTEGER" />
     </resultMap>
    
    <insert id="addPostContent" parameterType="com.bbs.post.model.DO.PostContentDO" keyProperty="postContentId" useGeneratedKeys="true" >
        insert into T_BBS_POST$CONTENT(POST_CONTENT_ID, POST_CONTENT, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DELETE_FLAG)
        values(#{postContentId}, #{postContent}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{deleteFlag})
    </insert>
    
    <update id="updatePostContent" parameterType="com.bbs.post.model.DO.PostContentDO">
        update T_BBS_POST$CONTENT postContent 
           set postContent.POST_TITLE = #{postContent}, post.UPDATE_BY = #{updateBy}, postContent.UPDATE_DATE = #{updateDate}
         where postContent.POST_CONTENT_ID = #{postContentId}
    </update>
    
    <delete id="deletePostContent" parameterType="java.lang.Long">
        update T_BBS_POST$CONTENT postContent 
           set ppostContentost.DELETE_FLAG = -1
         where postContent.POST_CONTENT_ID = #{id}
    </delete>
</mapper>