<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    使用mapper接口形式
    namespace：mapper接口路径
 -->
<mapper namespace="com.bbs.post.mapper.ReplyMapper">
    <!-- 
        resultMap：自定义查询结果集
             type：结果集类型，可使用map、实体类
             id  ：自定义结果集唯一标识
     -->
    <resultMap type="com.bbs.post.model.DO.ReplyDO" id="reply">
        <id     property="replyId"       column="REPLY_ID"        javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="postId"        column="POST_ID"         javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="parentReplyId" column="PARENT_REPLY_ID" javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="level"         column="LEVEL"           javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result property="replyContent"  column="REPLY_CONTENT"   javaType="string"            jdbcType="VARCHAR" />
        <result property="createBy"      column="CREATE_BY"       javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="createDate"    column="CREATE_DATE"     javaType="java.util.Date"    jdbcType="TIME" />
        <result property="updateBy"      column="UPDATE_BY"       javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="updateDate"    column="UPDATE_DATE"     javaType="java.util.Date"    jdbcType="TIME" />
        <result property="deleteFlag"    column="DELETE_FLAG"     javaType="java.lang.Integer" jdbcType="INTEGER" />
    </resultMap>
    
    <select id="findReplyByPostId" resultMap="reply">
        select * from T_BBS_REPLY where POST_ID = #{postId}
        <if test="index !=0 or num!=0">
            limit #{index}, #{num}
        </if>
    </select>
    
    <!-- 
        insert：插入方法
            id：插入方法名称，如果使用接口映射定义，当前值须与接口中对应方法名称相同
            parameterType：插入方法参数类型，可以是简单数据类型，集合参数，实体类参数等
     -->
    <insert id="addReply" parameterType="com.bbs.post.model.DO.ReplyDO" keyProperty="replyId" useGeneratedKeys="true" >
        insert into T_BBS_REPLY(REPLY_ID, POST_ID, PARENT_REPLY_ID, LEVEL, REPLY_CONTENT, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DELETE_FLAG) 
        values(#{replyId}, #{postId}, #{parentReplyId}, #{level}, #{replyContent}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{deleteFlag})
    </insert>
    
    <!-- 
        update：更新方法
            id：更新方法名称，如果使用接口映射定义，当前值须与接口中对应方法名称相同
            parameterType：更新方法参数类型，可以是简单数据类型，集合参数，实体类参数等
     -->
    <update id="updateReply" parameterType="com.bbs.post.model.DO.ReplyDO">
        update T_BBS_REPLY reply 
           set reply.REPLY_CONTENT = #{replyContent}, reply.UPDATE_BY = #{updateBy}, reply.UPDATE_DATE = #{updateDate}
         where reply.REPLY_ID      = #{replyId}
    </update>
    
    <!-- 
        delete：删除方法（此处delete方法仍然使用update语句，因此delete标签主要是用于标记区别）
            id：删除方法名称，如果使用接口映射定义，当前值须与接口中对应方法名称相同
            parameterType：删除方法参数类型，可以是简单数据类型，集合参数，实体类参数等
     -->
    <delete id="deleteReply" parameterType="java.lang.Long">
        update T_BBS_REPLY reply 
           set reply.DELETE_FLAG = -1
         where reply.REPLY_ID = #{id}
    </delete>
</mapper>