<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    使用mapper接口形式
    namespace：mapper接口路径
 -->
<mapper namespace="com.bbs.user.mapper.UserMapper">
    <resultMap type="com.bbs.user.model.DO.UserDO" id="user">
        <!-- id字段 -->
        <id property="userId" column="USER_ID" javaType="java.lang.Long" jdbcType="INTEGER" />
        <!-- 一般属性字段 -->
        <result property="loginName"     column="LOGIN_NAME"      javaType="string"            jdbcType="VARCHAR" />
        <result property="password"      column="PASSWORD"        javaType="string"            jdbcType="VARCHAR" />
        <result property="lastLoginDate" column="LAST_LOGIN_DATE" javaType="java.util.Date"    jdbcType="TIME" />
        <result property="isFreeze"      column="IS_FREEZE"       javaType="string"            jdbcType="VARCHAR" />
        
        <result property="createBy"      column="CREATE_BY"       javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="createDate"    column="CREATE_DATE"     javaType="java.util.Date"    jdbcType="TIME" />
        <result property="updateBy"      column="UPDATE_BY"       javaType="java.lang.Long"    jdbcType="INTEGER" />
        <result property="updateDate"    column="UPDATE_DATE"     javaType="java.util.Date"    jdbcType="TIME" />
        <result property="deleteFlag"    column="DELETE_FLAG"     javaType="java.lang.Integer" jdbcType="INTEGER" />
    </resultMap>
    
    <insert id="addUser" parameterType="com.bbs.user.model.DO.UserDO" keyProperty="userId" useGeneratedKeys="true" >
        insert into T_BBS_USER (USER_ID, LOGIN_NAME, PASSWORD, LAST_LOGIN_DATE, IS_FREEZE, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DELETE_FLAG)
        values(#{userId}, #{loginName}, #{password}, #{lastLoginDate}, #{isFreeze}, #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{deleteFlag})
    </insert>
    
    <update id="updateUser" parameterType="com.bbs.user.model.DO.UserDO">
        update T_BBS_USER user 
           set user.PASSWORD  = #{password},
               user.UPDATE_BY = #{updateBy}, user.UPDATE_DATE = #{updateDate}
         where user.USER_ID = #{userId}
    </update>
    
    <delete id="deleteUser" parameterType="java.lang.Long">
        update T_BBS_USER user 
           set user.DELETE_FLAG = -1
         where user.USER_ID = #{id}
    </delete>
</mapper>